.packlistForm{
  input[type="text"],
  input[type="date"]{
    display:block;
    position: static;
    opacity: 1;
    cursor: default;
    height: auto;
    width: 100%;
  }
  input[type="radio"]{
    display: inline-block;
    position: static;
    opacity: 1;
    cursor: default;
    height: auto;
    width: auto;
  }
  .multiSelectWrapper {
    display: block;
  }
}