@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

$blue: #2359D9;
html, body {
  background-color: white;
  min-width: 700px;
  font-family: 'Roboto', "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
  padding:0;
}

.btn {
  text-transform: uppercase;
  background-color: transparent;
  border: none;
  padding: 0;
  color:$blue;
  &::after {
    content: ">";
  }
  &:hover {
    opacity: 0.5;
    transition: 0.3s;
  }
  &:focus {
    outline: 0;
  }
}

.packlistForm{
  input[type="text"],
  input[type="date"]{
    display:block;
    position: static;
    opacity: 1;
    cursor: default;
    height: auto;
    width: 100%;
  }
  input[type="radio"]{
    display: inline-block;
    position: static;
    opacity: 1;
    cursor: default;
    height: auto;
    width: auto;
  }
  .multiSelectWrapper {
    display: block;
  }
}

.signupForm{
  input[type="text"],
  input[type="email"],
  input[type="password"]{
    display:block;
    position: static;
    opacity: 1;
    cursor: default;
    height: auto;
    width: 100%;
  }
  input[type="radio"]{
    display: inline-block;
    position: static;
    opacity: 1;
    cursor: default;
    height: auto;
    width: auto;
  }
}

.loginForm{
  input[type="text"],
  input[type="email"],
  input[type="password"]{
    display:block;
    position: static;
    opacity: 1;
    cursor: default;
    height: auto;
    width: 100%;
  }
  input[type="radio"]{
    display: inline-block;
    position: static;
    opacity: 1;
    cursor: default;
    height: auto;
    width: auto;
  }
}