@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400&display=swap');
$white: #fff;
$black: #333;
$gray: #ccc;
$blue: #2359D9;

html, body {
  font-family: 'Roboto', "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
  padding:0;
  color: $black;
  letter-spacing: 0.5px;
}
a {
  color: $blue;
  &:hover {
    text-decoration: none;
    opacity: 0.5;
    transition: 0.3s;
  }
}

.wrapper {
  min-height:100vh;
  padding: 8rem 3rem 0;
  h2 {
    font-weight: 300;
    letter-spacing: 1px;
  }
}

.navbar {
  padding: .5rem 3rem 0;

}

.sidePanel {
  color: $white;
  &:before {
    content: "";
    background-image: url("./images/bg.jpg");
    background-size: cover;
    background-position: 20% 0%;
    display: block;
    width: 33.333333%;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    z-index: -1;
  }
  &:after {
    content: "";
    background-color: #fff;
    display: block;
    width: 5%;
    height: 100vh;
    position: fixed;
    left: 30%;
    top: 0;
    transform: skew(-3deg);
    z-index: -1;
  }
  .sidePanelOverlay {
    background-image: linear-gradient(to right, rgba(0,0,0,0.2) , rgba(0,0,0,0.7));
    width: 33.333333%;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    z-index: -1;
  }
}

.btn {
  text-transform: uppercase;
  background-color: transparent;
  border: none;
  padding: 0;
  color:$blue;
  &::after {
    content: "";
    display: inline-block;
    top: 50%;
    left: 0;
    right: 0;
    width: 12px;
    height: 12px;
    border-top: 2px solid $blue;
    border-right: 2px solid $blue;
    transform: rotate(45deg);
  }
  &:hover {
    opacity: 0.5;
    transition: 0.3s;
  }
  &:focus {
    outline: 0;
  }
}

.packlistForm{
    position:relative;
  & > div {
    margin-bottom: 1rem;
  }
  input:focus {
    outline: none;
    box-shadow: none;
  }
  input[type="text"],
  input[type="date"]{
    display:block;
    position: static;
    opacity: 1;
    cursor: default;
    height: auto;
    width: 100%;
    border: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    border-bottom: 1px solid $gray;
    padding: .375rem 0;
  }
  input[type="radio"]{
    display: inline-block;
    position: static;
    opacity: 1;
    cursor: default;
    height: auto;
    width: auto;
  }
  .multiSelectWrapper {
    display: block;

    & > div {
      margin: 0;
    }
  }
  .multiSelectWrapper div:nth-child(1) {
    div {
      height: auto;
      background-color: $blue;
      border-radius: 0;
      margin-left: 0;
      margin-right: 8px;
      margin-bottom: 8px;
    }
  }
  .multiSelectWrapper div:nth-child(3) {
    span {
      border-radius: 50%;
    }
    span::after {
      top: 50%;
      left: 50%;
      width: 5px;
      height: 10px;
      border-width: 0 2px 2px 0;
      transform: translate(-50%, -50%) rotate(45deg);
    }
  }

  .drop-down-container{
    height:100px;
    overflow-y: auto;
    width:100%;
    position:absolute;
    background-color:white;

    & > div{
        transition: 0.3s;
        &:hover{
            color:white;
            background-color:blue;
        }
    }
  }
}

.signupForm{
  input[type="text"],
  input[type="email"],
  input[type="password"]{
    display:block;
    position: static;
    opacity: 1;
    cursor: default;
    height: auto;
    width: 100%;
    border: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    border-bottom: 1px solid $gray;
    padding: .375rem 0;
    //font-weight: 300;
  }
  input[type="radio"]{
    display: inline-block;
    position: static;
    opacity: 1;
    cursor: default;
    height: auto;
    width: auto;
  }
  input:focus {
    outline: none;
    box-shadow: none;
  }
  & > div {
    margin-bottom: 1rem;
  }
  input:-webkit-autofill {
    -webkit-animation-name: autofill;
    -webkit-animation-fill-mode: both;
  }
}

.loginForm{
  input[type="text"],
  input[type="email"],
  input[type="password"]{
    display:block;
    position: static;
    opacity: 1;
    cursor: default;
    height: auto;
    width: 100%;
    border: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    border-bottom: 1px solid $gray;
    padding: .375rem 0;
    //font-weight: 300;
  }
  input[type="radio"]{
    display: inline-block;
    position: static;
    opacity: 1;
    cursor: default;
    height: auto;
    width: auto;
  }
  input:focus {
    outline: none;
    box-shadow: none;
  }

  & > div {
    margin-bottom: 1rem;
  }
}

@-webkit-keyframes autofill {
  to {
    color: #666;
    background: transparent;
  }
}

.packlist {
  p {
    border-bottom: 1px solid transparent;
  }
  input[type="text"],
  input[type="number"]{
    height: auto;
    width: 100%;
    border: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    border-bottom: 1px solid $gray;
    padding: 0;
    letter-spacing: 0.5px;
    margin-bottom: 1rem;
  }
  input[type="number"] {
    width: 1.5rem;
  }
  input:focus {
    outline: none;
    box-shadow: none;
  }
}