@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400&display=swap');
$white: #fff;
$black: #333;
$gray: #ccc;
$blue: #2359D9;

html, body {
  font-family: 'Roboto', "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
  padding:0;
  color: $black;
  letter-spacing: 0.5px;
}
a {
  color: $blue;
  &:hover {
    text-decoration: none;
    opacity: 0.5;
    transition: 0.3s;
  }
}

.wrapper {
  min-height:100vh;
  padding: 8rem 3rem 0;
  h2 {
    font-weight: 400;
    font-size:2.25rem;
    letter-spacing: 1px;
  }
}

.navbar {
  padding: .5rem 3rem;
  transition: .3s;
  .navLinks a {
    color: #333!important;
  }
  &.navbarBg {
    background-color: #333;
    .navLinks a {
      color: #fff!important;
    }
    .dropdownMenu div a {
      color: $black!important;
    }
  }
  .navUsername {
    display: inline-block;
    padding-right: 2rem;
  }
  .navUserImage {
    position: absolute;
    top:2px;
    right: 0;
    display: block;
    background-image: url("./images/profile.svg");
    background-size: cover;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    width: 36px;
    height: 36px;
  }
  a:active {
    background-color: transparent!important;
  }
  .dropdownMenu div {
    right: 0;
    left: auto;
    margin: 0;
  }
}

.sidePanel {
  position: fixed;
  color: $white;
  width: 33.33333%;
  h2 {
    width: 70%;
  }
  button {
    color: $white!important;
    background-color: $blue!important;
    border-color: transparent!important;
    padding: 0.5rem 1rem 0.5rem 0.7rem;
    border-radius: 0;
    margin-top: 2rem;
    letter-spacing: 1px;
    &::after {
      content: "";
      display: inline-block;
      width: 12px;
      height: 12px;
      border-top: 1px solid $white;
      border-right: 1px solid $white;
      transform: rotate(45deg);
      margin-top: -4px;
    }
    &:focus,
    &:active,
    &:active:focus{
      box-shadow: none!important;
    }
  }
  .sidePanelBg {
    content: "";
    background-image: url("./images/bg.jpg");
    background-size: cover;
    background-position: 20% 0%;
    display: block;
    width: 33.333333%;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    z-index: -1;
  }
  .sidePanelImage {
    background-image: url("./images/default.jpg");
  }
  &:after {
    content: "";
    background-color: #fff;
    display: block;
    width: 5%;
    height: 100vh;
    position: fixed;
    left: 30%;
    top: 0;
    transform: skew(-3deg);
    z-index: -1;
  }
  .sidePanelOverlay {
    background-image: linear-gradient(to right, rgba(0,0,0,0.5) , rgba(0,0,0,.65));
    width: 33.333333%;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    z-index: -1;
  }
}

.btn {
  text-transform: uppercase;
  background-color: $blue;
  border: none;
  padding: 0.5rem 1rem 0.5rem 0.7rem;
  color:$white;
  letter-spacing: 1px;
  border-radius: 0;
  &::after {
    content: "";
    display: inline-block;
    top: 50%;
    left: 0;
    right: 0;
    width: 12px;
    height: 12px;
    border-top: 1px solid $white;
    border-right: 1px solid $white;
    transform: rotate(45deg);
  }
  &:hover {
    opacity: 0.5;
    transition: 0.3s;
  }
  &:focus {
    outline: 0;
  }
}

.packlistForm{
    position:relative;
  & > div {
    margin-bottom: 1rem;
  }
  input:focus {
    outline: none;
    box-shadow: none;
  }
  input{
    display:block;
    position: static;
    opacity: 1;
    cursor: default;
    height: auto;
    width: 100%;
    border: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    border-bottom: 1px solid $gray;
    padding: .375rem 0;
  }
  input[type="radio"]{
    display: inline-block;
    position: static;
    opacity: 1;
    cursor: default;
    height: auto;
    width: auto;
  }
  .multiSelectWrapper {
    display: block;

    & > div {
      margin: 0;
    }
  }
  .multiSelectWrapper div:nth-child(1) {
    div {
      height: auto;
      background-color: $blue;
      border-radius: 0;
      margin-left: 0;
      margin-right: 8px;
      margin-bottom: 8px;
    }
  }
  .multiSelectWrapper div:nth-child(3) {
    span {
      border-radius: 50%;
    }
    span::after {
      top: 50%;
      left: 50%;
      width: 5px;
      height: 10px;
      border-width: 0 2px 2px 0;
      transform: translate(-50%, -50%) rotate(45deg);
    }
  }

  .drop-down-container{
    height:100px;
    overflow-y: auto;
    width:100%;
    position:absolute;
    background-color:white;

    & > div{
        transition: 0.3s;
        &:hover{
            color:white;
            background-color:blue;
        }
    }
  }
}

.packlistModalForm{
  position:relative;
  & > div {
    margin-bottom: 1rem;
  }
  input:focus {
    outline: none;
    box-shadow: none;
  }
  input{
    display:block;
    position: static;
    opacity: 1;
    cursor: default;
    height: auto;
    width: 100%;
    border: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    border-bottom: 1px solid $gray;
    padding: .375rem 0;
  }
  input[type="radio"]{
    display: inline-block;
    position: static;
    opacity: 1;
    cursor: default;
    height: auto;
    width: auto;
  }
  .multiSelectWrapper {
    display: block;

    & > div {
      margin: 0;
    }
  }
  .multiSelectWrapper div:nth-child(1) {
    div {
      height: auto;
      background-color: $blue;
      border-radius: 0;
      margin-left: 0;
      margin-right: 8px;
      margin-bottom: 8px;
    }
  }
  .multiSelectWrapper div:nth-child(3) {
    span {
      border-radius: 50%;
    }
    span::after {
      top: 50%;
      left: 50%;
      width: 5px;
      height: 10px;
      border-width: 0 2px 2px 0;
      transform: translate(-50%, -50%) rotate(45deg);
    }
  }

  .drop-down-container{
    height:100px;
    overflow-y: auto;
    width:100%;
    position:absolute;
    background-color:white;

    & > div{
      transition: 0.3s;
      &:hover{
        color:white;
        background-color:blue;
      }
    }
  }
  .loadingScreen {
    background: rgba(0, 0, 0, 0.33333);
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    .loader {
      height: 100px;
    }
    .spinner {
      animation: loadingI 1.5s linear infinite;
      position: relative;
      width: 50px;
      height: 50px;
      margin: 0 auto;
    }
    .loaderBubble1,
    .loaderBubble2{
      position: absolute;
      top: 0;
      width: 25px;
      height: 25px;
      border-radius: 100%;
      background-color: $blue;
      animation: bounce 1.5s ease-in-out infinite;
    }
    .loaderBubble2 {
      top: auto;
      bottom: 0;
      animation-delay: 1s;
      transform: scale(0.0)
    }
  }
}
@keyframes loadingI {
  100% {transform: rotate(360deg);}
}
@keyframes bounce  {
  0%, 100% {transform: scale(0.0);}
  50% {transform: scale(1.0);}
}


.signupForm,
.profileInfoForm{
  input[type="text"],
  input[type="email"],
  input[type="password"]{
    display:block;
    position: static;
    opacity: 1;
    cursor: default;
    height: auto;
    width: 100%;
    border: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    border-bottom: 1px solid $gray;
    padding: .375rem 0;
    //font-weight: 300;
    &:disabled {
      background:transparent;
      color: $gray
    }
  }
  input[type="radio"]{
    display: inline-block;
    position: static;
    opacity: 1;
    cursor: default;
    height: auto;
    width: auto;
  }
  input:focus {
    outline: none;
    box-shadow: none;
  }
  & > div {
    margin-bottom: 1rem;
  }
  input:-webkit-autofill {
    -webkit-animation-name: autofill;
    -webkit-animation-fill-mode: both;
  }
  h4 {
    margin-bottom: 3rem;
  }
}

.loginForm{
  input[type="text"],
  input[type="email"],
  input[type="password"]{
    display:block;
    position: static;
    opacity: 1;
    cursor: default;
    height: auto;
    width: 100%;
    border: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    border-bottom: 1px solid $gray;
    padding: .375rem 0;
    //font-weight: 300;
  }
  input[type="radio"]{
    display: inline-block;
    position: static;
    opacity: 1;
    cursor: default;
    height: auto;
    width: auto;
  }
  input:focus {
    outline: none;
    box-shadow: none;
  }

  & > div {
    margin-bottom: 1rem;
  }
}

.profileImage,
.ownerImage{
  display: block;
  margin-bottom: 2rem;
  background-image: url("./images/profile.svg");
  -webkit-background-size: contain;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  &:after {
    content:"";
    display: block;
    width: 100%;
    padding-bottom: 100%;
    border-radius: 0;
  }
}
.ownerImage {
  margin: 0 0 0.5rem 0.5rem;
  border-radius: 50%;
}
.profileImage {
  position: relative;
  border-radius: 50%;
  overflow: hidden;
  img {
    position: absolute;
    height: 100%;
    left: 50%;
    transform: translateX(-50%);
  }
}

.profileImageForm {
  input {
    display: none;
  }
  label {
    text-transform: uppercase;
    cursor: pointer;
    border-bottom: 1px $black solid;
    padding: 0.5rem 0;
    color:$black;
    letter-spacing: 1px;
  }
}
@-webkit-keyframes autofill {
  to {
    color: #666;
    background: transparent;
  }
}

.packlist {
  column-count: 2;
  p {
    border-bottom: 1px solid transparent;
  }
  input[type="text"],
  input[type="number"],
  select{
    height: auto;
    width: 100%;
    border: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    border-bottom: 1px solid $gray;
    padding: 0;
    letter-spacing: 0.5px;
    margin-bottom: 1rem;
  }
  select {
    -webkit-appearance: none;
  }
  .select {
    &:after {
      //content: "";
      //display: block;
      //position: absolute;
      //top: 0;
      //right: 20px;
      //width: 12px;
      //height: 12px;
      //border-top: 1px solid #2359D9;
      //border-right: 1px solid #2359D9;
      //transform: rotate(135deg);
    }
  }
  input:focus,
  select:focus{
    outline: none;
    box-shadow: none;
  }
  h3 {
    margin-bottom: 2rem;
  }
  .listCard {
    border-radius: 0;
    margin-bottom: 2rem;
    h4 {
      margin-bottom: 2rem;
    }
  }
}

.tripCard {
  a {
    color:#333;
    & > div {
      border-radius: 0;
    }
  }
}
.tripImage {
  background-image: url("./images/default.jpg");
  background-size: cover;
  background-position: center;
  position: relative;
  &:after {
    content: "";
    display: block;
    padding-bottom: 50%;
    background-color: rgba(0,0,0,0.5);
  }
  div {
    position: absolute;
    color: $white;
    left: 1rem;
    bottom: 1rem;
    margin: 0;
  }
}

.tab {
  background-color: $black;
  a {
    color: $white;
    border-radius: 0!important;
  }
}

.deleteButton,
.addButton{
    cursor: pointer;
  &:hover {
    opacity: 0.5;
    transition: 0.3s;
  }
}

.addButton {
  font-weight: 300;
}

.formError {
  border: 1px solid red;
  padding: 1rem 0;
  margin-bottom: 2rem;

  p {
    margin: 0;
    text-align: center;
  }
}

.ownerDropdown,
.tripmateDropdown{
  button {
    color: $black!important;
    background: transparent!important;
    text-align: left;
    display:block;
    position: static;
    opacity: 1;
    cursor: default;
    height: auto;
    width: 100%;
    border: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    border-bottom: 1px solid $gray;
    padding: 0;
    letter-spacing: 0.5px;
    &:after {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      right: 8px;
      width: 12px;
      height: 12px;
      border-left: none;
      border-top: 1px solid #2359D9;
      border-right: 1px solid #2359D9;
      transform: rotate(135deg);
    }
    &:hover,&:focus,&:active,&:active:focus {
      box-shadow: none!important;
      background: transparent!important;
      color: $black!important;
    }
  }

  div {
    margin: 0;
    width: 100%;
  }
}
button.btnSecondary {
  text-transform: uppercase;
  background-color: $black!important;
  border: none;
  padding: 0.5rem 0.7rem!important;
  color: $white;
  letter-spacing: 1px;

  &::after {
    content: "";
    display: inline-block;
    width: 0!important;
    height: 0!important;
    border: none!important;
  }
}

.deleteModal {
  padding: 1rem;

  text-align: center;
  h4 {
    margin-bottom: 2rem;
  }
}